* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: OnestRegular;
  src: url("../public/fonts/Onest-Regular.ttf");
}

@font-face {
  font-family: OnestSemiBold;
  src: url("../public/fonts/Onest-SemiBold.ttf");
}

@font-face {
  font-family: OnestBold;
  src: url("../public/fonts/Onest-Bold.ttf");
}

@font-face {
  font-family: PlayfairDisplay;
  src: url("../public/fonts/PlayfairDisplay.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: OnestRegular, sans-serif;
  background-color: #FEFCFC;
}

img,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
}

button,
input,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
